/* Definición de las fuentes Publica Sans */
@font-face {
    font-family: 'Funnel Display';
    src: url('./Slider/Recursos/Fuentes/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Publica Sans';
    src: url('./Slider/Recursos/Fuentes/Publica/PublicaSans-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Publica Sans';
    src: url('./Slider/Recursos/Fuentes/Publica/PublicaSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Publica Sans';
    src: url('./Slider/Recursos/Fuentes/Publica/PublicaSans-UltraLight.otf') format('opentype');
    font-weight: 100;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Publica Sans";
}

:root {
    --Azul-claro: #95DEFF;
    --Azul-oscuro: #004B6B;
    --Azul-muy-oscuro: #052240;
    --blanco: #F6F6F6;
    --Magenta-claro: #FD3567;
    --Magenta: #BC244A;
    --Magenta-oscuro: #750037;
    --Transparente: #00000000;

    --font-size-XS: 14px;
    /*Parrafos*/
    --font-size-S: 16px;
    --font-size-M: 18px;
    --font-size-L: 28px;
    /*Suvtítulos*/
    --font-size-XL: 40px;
    /*Títulos*/
    --font-size-XXL: 72px;
    --font-size-XXXL: 96px;

    /* media queries */ 
    --mobile: 768px;
    --tablet: 1024px;
    --desktop: 1440px;
    --desktopXL: 1920px;
}

body {
    /* display: flex; */
    align-items: center;
    min-height: 100vh;
    background-color: var(--blanco);
    color: var(--blanco);
    overflow: hidden;
    flex-direction: column;
    cursor: none;
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: flex-start;
}
.hero {
    display: flex;
    /* min-height: 100vh; */
    background-color: var(--blanco);
    color: var(--blanco);
    /* overflow: hidden; */
    flex-direction: column;
    cursor: none;
    /* overflow-x: hidden; */
    gap: 0px;
    justify-content: flex-start;
}

html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari y otros */
}

/* Header Section */

.header-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #f6f6f6; */
    width: 100%;
    height: 128px;
    position: relative;
    z-index: 3;
    cursor: none;
    position: fixed;
    border-bottom: 1px solid var(--blanco);
    opacity: 1;
    gap: 25%;
}

.personal-photo {
    width: 64px;
    height: 64px;
    border-radius: 1px;
    object-fit: cover;
    cursor: none;
    background-color: var(--Transparente);
    margin-left: 80px;
    /* transform: translateY(56px); */
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--Transparente);
    border-radius: 1px;
    position: relative;
    z-index: 10;
    width: 63%;
    height: 136px;
}

/* Icon Buttons */
.icon-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon-button {
    position: relative; /* Establish a containing block for the tooltip */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-out;
    z-index: 3;
}

.icon-button:hover img{
    transform: scale(1.1);
    filter: saturate(0) brightness(8.2);
    z-index: 10;
}

/* Image inside the button */
.icon-button .menu img {
    width: 24px;
    height: 24px;
    z-index: 3; /* Ensure it's above the tooltip */
}
.icon-button .Lightbulb img {
    width: 48px;
    height: 48px;
    z-index: 3; /* Ensure it's above the tooltip */
    cursor: none;
}

/* Tooltip (span) styling */
.icon-button span {
    position: absolute;
    bottom: -16px; /* Place tooltip below the icon */
    left: 50%;
    transform: translateX(-55%);
    opacity: 0; /* Initially hidden */
    white-space: nowrap; /* Prevent text wrapping */
    color: var(--Magenta-oscuro);
    padding: 4px 8px; /* Add padding for tooltip box */
    border-radius: 6px; /* Rounded corners */
    font-size: 0.8rem; /* Adjust font size */
    pointer-events: none; /* Prevent mouse events on tooltip */
    transition: all 0.2s ease;
    scale: .75;
    font-weight: 100;
    clip-path: inset(10px 20px 30px 40px);
    pointer-events: none;
    
}

/* Tooltip appears when hovering over the button */
.icon-button:hover span {
    opacity: 1;
    transform: translateX(-50%) translateY(4px); /* Slight upward animation */
    z-index: 10; /* Ensure visibility */
    scale: 1;
    clip-path: inset(0px 0px 0px 0px);
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 490px;
    gap: 64px;
}


/*--------------------------------- tittle Section ----------------------------*/
.tittle-section {
    position: relative;
    z-index: 5;
    width: 100%;
    padding: 0px 0px 0px 48px;
    background-color: var(--Transparente);
    display: flex
;
    flex-direction: row;
    gap: 0px;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 150px;
    overflow: hidden;
}

.tittle-content {
    text-align: center;
    display: flex;
    gap: 33%;
    width: 100%;
    transform: translateX(-8px) translateY(16px);
    align-items: center;
    flex-direction: column;
}
.main-text {
    display: flex;
    flex-direction: column;
}
.main-title {
    font-family: "Funnel display";
    font-size: var(--font-size-XL);
    font-weight: bold;
    color: var(--Magenta-claro);
    line-height: 1.2;
    width: 580px;
}

.main-subtitle {
    font-family: "Funnel display";
    font-size: var(--font-size-XS);
    font-weight: 300;
    color: var(--Magenta);
    margin-top: 10px;
}

.about-me-compliment {
    width: 100%;
    transform: translateY(-18px);
    overflow: hidden;
    height: 560px;
    opacity: .6;
}
.about-me-compliment img {
    width: 100%;
    object-fit: cover;
}

/* .description {
    font-size: var(--font-size-S);
    font-weight: 300;
    color: var(--Azul-muy-oscuro);
    line-height: 1.5;
    margin-top: 20px;
    max-width: 600px;
} */


/*----------------------- Ajustes del carrusel y sus botones --------------------------------------------- */
.swiper {
    position: relative;
    width: 97%;
    height: 680px;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.1s ease-out;
    cursor: none;
}

.swiper-3d {
    perspective: 2600px;
}

.swiper-slide {
    position: relative;
    width: 1506px;
    aspect-ratio: 3/4;
    cursor: none;
    transition: height 0.25s ease-in;
    border-radius: 16px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1px;
    user-select: none;
    transform: translateX(312px);
    transition: mask-image 0.5s ease-out, -webkit-mask-image 0.5s ease-out, transform 0.6s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth transition */
    will-change: mask-image, -webkit-mask-image, filter, transform; /* Optimize for frequent changes */
    cursor: none;
}

.swiper-slide-prev {
    z-index: 0;
    height: 100%;
    transform: translate3d(-190px, -70px, -855px) rotateX(0deg) rotateY(0deg) scale(1);
    z-index: 0;
    transition: height 0.1s ease-out;
}

.swiper-slide .imagen-contenida {
    position: relative;
    z-index: 1;
    display: block;
}

.custom-cursor {
    position: fixed;
    width: 24px;
    height: 24px;
    background-color: #BC244A; /* Default color */
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out, background-color 0.2s ease;
}


.custom-cursor::before {
    content: '';
    width: 40px; /* Adjust the size */
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}


@media (max-width: 1600px) {

}
@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 700px) {

}

@media (max-width: 550px) {

}

@media (max-width: 390px) {

}