/* Definición de las fuentes Publica Sans */
@font-face {
    font-family: 'Thunder';
    src: url('./Slider/Recursos/Fuentes/Thunder/Thunder-LC.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Thunder Extra';
    src: url('./Slider/Recursos/Fuentes/Thunder/Thunder-ExtraBoldLC.ttf') format('opentype');
    font-weight: ExtraBold;
    font-style: normal;
}
@font-face {
    font-family: 'Funnel Display';
    src: url('./Slider/Recursos/Fuentes/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Publica Sans Bold';
    src: url('./Slider/Recursos/Fuentes/Publica/PublicaSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Publica Sans';
    src: url('./Slider/Recursos/Fuentes/Publica/PublicaSans-UltraLight.otf') format('opentype');
    font-weight: 100;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Publica Sans";
}

:root {
    --Azul-claro: #95DEFF;
    --Azul-oscuro: #004B6B;
    --Azul-muy-oscuro: #052240;
    --blanco: #F6F6F6;
    --Verde-claro: #09A186;
    --Verde: #077E69;
    --Verde-oscuro: #044338;
    --Gris-claro: #D1D1D6;
    --Gris: #8E8E93;
    --Transparente: #00000000;

    --font-size-XS: 14px;
    /*Parrafos*/
    --font-size-S: 16px;
    --font-size-M: 18px;
    --font-size-L: 28px;
    /*Suvtítulos*/
    --font-size-XL: 40px;
    /*Títulos*/
    --font-size-XXL: 72px;
    --font-size-XXXL: 96px;

    /* media queries */ 
    --mobile: 768px;
    --tablet: 1024px;
    --desktop: 1440px;
    --desktopXL: 1920px;
}
::selection {
    background-color: var(--Verde-claro);
    color: var(--blanco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
::-moz-selection {
    background-color: var(--Verde-claro);
    color: var(--blanco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
body {
    /* display: flex; */
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    overflow-x: hidden;
    align-items: flex-start;
    justify-content: flex-start;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Verde-claro);
    z-index: 0;
    opacity: 1;
    padding: 32px;

}
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: flex-start;
    border-radius: 4px 32px 4px 32px; /* Add rounded corners */
    overflow: hidden; /* Ensures child elements respect the clip-path */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Custom shape */
    z-index: 1;
}
.white-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--Verde-claro); /* White transition effect */
    z-index: 999;
    opacity: 0; /* Hidden initially */
    pointer-events: none;
}


html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari y otros */
}

/* Header Section */

.header-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #f6f6f6; */
    width: 100%;
    height: 128px;
    position: relative;
    z-index: 3;
    cursor: none;
    position: fixed;/* 
    border-bottom: 1px solid var(--blanco); */
    opacity: 1;
    gap: 25%;
    top: 32px;
    transition: transform 0.3s ease-out;
}

.personal-photo {
    width: 64px;
    height: 64px;
    border-radius: 1px;
    object-fit: cover;
    cursor: none;
    background-color: var(--Transparente);
    margin-left: 80px;
    /* transform: translateY(56px); */
    pointer-events: all !important;
}
.personal-photo:hover img{
    scale: 1.1;
    transition: all 0.2s ease-out;
    pointer-events: all !important;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--Transparente);
    border-radius: 1px;
    position: relative;
    z-index: 10;
    width: 63%;
    height: 136px;
}

/* Icon Buttons */
.icon-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon-button {
    position: relative; /* Establish a containing block for the tooltip */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-out;
    z-index: 3;
}

.icon-button:hover img{
    transform: scale(1.1);
    filter: saturate(0) brightness(8.2);
    z-index: 10;
}

/* Image inside the button */
.icon-button .menu img {
    width: 24px;
    height: 24px;
    z-index: 3; /* Ensure it's above the tooltip */
}
.Lightbulb img {
    width: 64px;
    height: 64px;
    z-index: 3; /* Ensure it's above the tooltip */
    cursor: none;
}
.Lightbulb:hover img {
    filter: none;    
    transition: all 0.2s ease-out;
}

/* Tooltip (span) styling */
.icon-button span {
    position: absolute;
    bottom: -16px; /* Place tooltip below the icon */
    left: 50%;
    transform: translateX(-55%);
    opacity: 0; /* Initially hidden */
    white-space: nowrap; /* Prevent text wrapping */
    color: var(--Verde-oscuro);
    padding: 4px 8px; /* Add padding for tooltip box */
    border-radius: 6px; /* Rounded corners */
    font-size: 0.8rem; /* Adjust font size */
    pointer-events: none; /* Prevent mouse events on tooltip */
    transition: all 0.2s ease;
    scale: .75;
    font-weight: 100;
    clip-path: inset(10px 20px 30px 40px);
    pointer-events: none;
    
}

/* Tooltip appears when hovering over the button */
.icon-button:hover span {
    opacity: 1;
    transform: translateX(-50%) translateY(4px); /* Slight upward animation */
    z-index: 10; /* Ensure visibility */
    scale: 1;
    clip-path: inset(0px 0px 0px 0px);
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 490px;
    gap: 64px;
}


/*--------------------------------- tittle Section ----------------------------*/
.tittle-section {
    position: relative;
    z-index: 5;
    width: 100%;
    background-color: var(--Transparente);
    display: flex
;
    flex-direction: row;
    gap: 0px;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 108px;
    overflow: hidden;
}

.tittle-content {
    text-align: center;
    display: flex;
    gap: 33%;
    width: 100%;
    transform: translateX(0px) translateY(8px);
    align-items: center;
    flex-direction: column;
}

.green-blob {
    position: absolute;
    width: 640px;
    height: 560px;
    background-color: var(--Verde-claro);
    z-index: 0;
    border-radius: 50%;
    transform: translate(0%, -92.5%);
    overflow: hidden; /* Ensure effect stays within the shape */
}

.main-title {
    font-family: "Thunder Extra";
    font-size: var(--font-size-XXXL);
    font-weight: Extrabold;
    color: var(--Verde-claro);
    line-height: 1.2;
    width: 580px;
    transform: translateY(-559px);
}

.main-subtitle {
    font-family: "Publica Sans bold";
    font-size: var(--font-size-XS);
    font-weight: 600;
    color: var(--blanco);
    /* background-color: var(--Verde-claro); */
    border-radius: 16px;
    padding: 4px 16px;
    width: fit-content;
    transform: translateY(-556px) translateX(230px);
    /* justify-content: center; */
    text-align: center;
}
.about-me-compliment {
    width: 100%;
    transform: translateY(-18px);
    overflow: hidden;
    height: 560px;
    opacity: .6;
}
.about-me-compliment img {
    width: 100%;
    object-fit: cover;
}

/* .description {
    font-size: var(--font-size-S);
    font-weight: 300;
    color: var(--Azul-muy-oscuro);
    line-height: 1.5;
    margin-top: 20px;
    max-width: 600px;
} */


/*----------------------- Ajustes del carrusel y sus botones --------------------------------------------- */
.swiper {
    position: relative;
    width: 97%;
    height: 624px;
    border-radius: 24px;
    overflow: hidden;
    transition: all 0.1s ease-out;
    cursor: none;
}

.swiper-3d {
    perspective: 2600px;
}

.swiper-slide {
    position: relative;
    width: 1506px;
    aspect-ratio: 3/4;
    cursor: none;
    transition: height 0.25s ease-in;
    border-radius: 16px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1px;
    user-select: none;
    transform: translateX(312px);
    transition: mask-image 0.5s ease-out, -webkit-mask-image 0.5s ease-out, transform 0.6s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth transition */
    will-change: mask-image, -webkit-mask-image, filter, transform; /* Optimize for frequent changes */
    cursor: none;
}

.swiper-slide-prev {
    z-index: 0;
    height: 100%;
    transform: translate3d(-190px, -70px, -855px) rotateX(0deg) rotateY(0deg) scale(1);
    z-index: 0;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.swiper-slide .imagen-contenida {
    position: relative;
    z-index: 1;
    display: block;
}


.image-container {
    position: relative;
    width: 100%; /* Asegura que ocupe todo el espacio asignado */
    height: 100%;
    overflow: hidden; /* Evita que el zoom de la imagen salga del contenedor */
    border-radius: 1px; /* Bordes redondeados */
    transform: translateX(312px);
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, .75) 100%); /* Gradiente */
    mix-blend-mode: multiply; /* Combina el gradiente con la imagen base */
    pointer-events: none; /* Evita interferir con interacciones */
    z-index: 1; /* Asegura que esté sobre la imagen */
}

.grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    z-index: 2;
    transform: translateY(-100%);
    position: relative;
}
.grid-collumn {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--blanco);
    z-index: 1;
    opacity: .35;
}

.swiper-slide-prev .grid-collumn {
    opacity: 0;
    transition: all 0.2s ease;
}

.swiper-slide-prev .blur {
    border-top: 1px solid rgba(246, 246, 246, 0.1);
}

/* Estilo de las imágenes dentro del contenedor */
.image-container .imagen-contenida {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    transform: scale(1.1);
}
/* Estilo de las imágenes activas dentro del contenedor */



.distorted {
    filter: url(#wave-effect); /* Placeholder for SVG filter (to be added dynamically) */
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    left: var(--swiper-scrollbar-sides-offset, 1%);
    bottom: var(--swiper-scrollbar-bottom, 4px);
    top: var(--swiper-scrollbar-top, auto);
    z-index: 50;
    height: var(--swiper-scrollbar-size, 4px);
    width: calc(100% - 2* var(--swiper-scrollbar-sides-offset, 1%));
    display: none;
}
.title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-70%, -162%);
    width: max-content;
    text-align: center;
    padding: 10px 18px;
    background: rgba(46, 39, 39, 0);
    z-index: 3;
}

.title span {
    color: var(--Transparente);
    font-family: "Publica Sans";
    font-size: var(--font-size-XL);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.swiper-slide-active .title span{
    color: var(--blanco);
}

.subtitle {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-152%, -220%);
    width: max-content;
    text-align: center;
    padding: 10px 18px;
    background: rgba(46, 39, 39, 0);
    z-index: 3;
}

.subtitle span {
    color: var(--Transparente);
    font-family: "Publica Sans";
    font-size: var(--font-size-S);
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-slide-active .subtitle span {
    color: var(--blanco);
}

.boolean-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow: hidden;
    padding-top: 132px;
}

.custom-box-left,
.custom-box-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 517px;
    height: 72px;
    background: transparent; /* No es necesario pintar */
    z-index: 10;
    pointer-events: none; /* No bloqueará la interacción con el slider */
}


.control-container {
    display: flex;
    width: 100%;
    transform: translate(0px, -62px);
    align-items: center;
    justify-content: center; /* Centers all items horizontally */
    height: 100%;
    z-index: 10;
    justify-content: space-between;
}
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    /* left: 50px; */
    gap: 20px;
    z-index: 10;
    width: 100%;
    cursor: none;
    /* top: 21px; */
    height: 100%;
    flex-wrap: nowrap;
    right: 80px;
}

.swiper-pagination {
    display: flex;
    gap: 10px; /* Espacio entre los bullets */
    cursor: none;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
    cursor: none;
    justify-content: end;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: var(--blanco);
    border-radius: 50%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    cursor: none;
    position: relative;
    overflow: hidden;
}

/* Bullet activo */
.swiper-pagination-bullet-active {
    background-color: var(--Verde); /* Color del bullet activo */
    transform: scale(1.2); /* Aumenta ligeramente el tamaño del bullet activo */
    opacity: 1; /* Totalmente visible */
    border-radius: 8px;
    transition: transform 0.4s ease-out;
    cursor: none;
}
.swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #BC244A;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 8s linear; /* Match autoplay delay */
}

.swiper-pagination-bullet:hover {
    background-color: var(--blanco); /* Color del bullet activo */
    transform: scaleX(1.5) scaleY(1.5) translateX(2px); /* Aumenta ligeramente el tamaño del bullet activo */
    opacity: 1; /* Totalmente visible */
    transition: transform 0.24s ease-out background-color 0.24 ease-in;
    border-radius: 50%px;
    cursor: none;
}

/* .next-project-btn {
    background: none;
    border: none;
    color: #052240;
    font-family: "Publica Sans", sans-serif;
    font-size: var(--font-size-S);
    font-weight: 400;
    line-height: 1.5;
    cursor: none;
    text-transform: capitalize;
    transition: color 0.3s ease;
    pointer-events: auto;
    position: relative;
    left: 42%;
}

.next-project-btn:hover {
    color: var(--blanco);
    transition: color 0s;
} */

.swiper-button-container {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 10;
    width: 100%;
    padding-right: 0.5%;
    gap: 56px;
    left: 80px;
    transform: translateY(10px);
}

.swiper-button-prev, .swiper-button-next {
    background: none;
    border: none;
    color: rgb(255, 255, 255, 0);
    cursor: none;
    width: 40px;
    height: 24px;
    display: block;
    transition: transform 0.3s ease, background-color 0.3s ease;
    pointer-events: auto;
    position: relative;
    transform: scale(.75);
}
/* .swiper-pause img {
    width: 24px;
    height: 24px;
    cursor: pointer;
} */
.swiper-pause:hover img {
    transform: scale(1.25);
    transition: transform 0.15s ease-in;
}

.swiper-button-prev img:hover,
.swiper-button-next img:hover,
.swiper-pause img:hover {
    filter: brightness(0) invert(1); /* Inverts the color */
    cursor: pointer;
}

.new-icon {
    width: 24px;
    height: auto;
    object-fit: contain;
    transition: transform 0.15s ease-in;
    /* transform: scale(0.75); */
    filter: brightness(8.5);
}
.swiper-button-prev:hover .new-icon,
.swiper-button-next:hover .new-icon {
    transform: scaleX(1.25) scaleY(1); /* Slightly enlarge on hover */
}
.swiper-wrapper {
    transition-timing-function: ease-out !important; /* Smooth easing effect */
}

.static-img {
    position: absolute; /* Ensure it remains in the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1; /* Always visible unless covered by GIF */
    z-index: 1; /* Behind the GIF */
}

.active-gif {
    position: absolute; /* Overlay on top of the static image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Hidden by default */
    z-index: 2; /* Above the static image */
    transition: opacity 0.5s ease-out, mask-image 0.5s ease-out; /* Smooth transition */
}

.blur {
    width: 200.5%;
    height: 114px;
    border-top: 1px solid rgba(246, 246, 246, 0.2);
    background: linear-gradient(180deg, rgba(144, 144, 144, 0.00) 0%, rgba(246, 246, 246, 0.01) 37.15%);
    backdrop-filter: blur(2px);
    transform: translateY(430px) translateX(310px);
    z-index: 2;
    position: relative;
    border-bottom: 1px solid rgba(246, 246, 246, 0.1);
}


#canvas1 {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#ffffff, #F6F6F6);
}

.blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent interaction */
    z-index: 1; /* Ensure it appears above the canvas */
    background: linear-gradient(180deg, 
        rgba(246, 246, 246, 1) 0%, 
        rgba(246, 246, 246, 0.1) 21%, 
        rgba(153, 153, 153, 0.15) 74%, 
        rgba(246, 246, 246, 0.85) 100%
        
        );
    backdrop-filter: blur(1.5px); /* Apply the blur effect */
    opacity: 0.5;
}

#canvas1 ::before {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#ffffff, #F6F6F6);
    backdrop-filter: blur(10px);
}

.custom-cursor {
    position: fixed;
    width: 24px;
    height: 24px;
    background-color: #BC244A; /* Default color */
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out, background-color 0.2s ease;
}


.custom-cursor::before {
    content: '';
    width: 40px; /* Adjust the size */
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}


@media (max-width: 1600px) {
    .header-content {
        display: flex
    ;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        background-color: var(--Transparente);
        border-radius: 1px;
        position: relative;
        z-index: 10;
        width: 66%;
        height: 144px;
    }
    .personal-photo {
        margin-left: 3%;
    }
    .tittle-section {
        max-height: 88px;
    }
    .tittle-content {
        display: flex;
        gap: 24%;
        transform: translateY(0px);
    }
    .green-blob {
        transform: translate(0%, -91%);
    }
    .main-title {
        font-size: var(--font-size-XXL);
        font-weight: bold;
        line-height: 1.2;
        width: 580px;
    }
    .main-subtitle {
        font-size: var(--font-size-S);
        font-weight: 300;
        margin-top: 10px;
    }
    .swiper {
        height: 520px;
    }
    .blur {
        transform: translateY(324px);
    }
    .title {
        transform: translate(-52%, -160%);
    }
    .subtitle {
        transform: translate(-115%, -242%);
    }
    .control-container {
        transform: translateY(-165px);
    }
}
@media (max-width: 1440px) {
    .tittle-content {
        display: flex;
        gap: 24%;
    }
    .about-me-compliment {
        width: 100%;
        transform: translateY(-25px) translateX(23px);
    }
    .swiper-slide img {
        transform: translateX(389px);
    }
    .image-container {
        transform: translateX(389px);
    }

    .control-container {
        transform: translateY(-171px);
        padding-top: 7px;
    }
    .swiper {
        height: 480px;
    }
    .blur {
        transform: translateY(286px);
    }
    .swiper-button-container {
        gap: 48px;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        transform: scale(0.65);
        cursor: none;
    }
    .swiper-button-prev, .swiper-button-next {
        transform: scale(.75);
    }
/*     .swiper-pause img {
        transform: scale(0.75) translateX(-2px) translateY(-3px);
    } */
    .pagination-container {
        left: 25px;
    }
    .next-project-btn {
        left: 37%;
    }
    .title {
        transform: translate(-35%, -160%);
    }
    .subtitle {
        transform: translate(-75%, -232%);
    }
}

@media (max-width: 1200px) {
    .title {
        transform: translate(-38%, -160%);
    }
    .subtitle {
        transform: translate(-82%, -232%);
    }
    .header-section {
        gap: 27%;
    }
    .navigation-buttons {
        width: fit-content;
    }
    .personal-photo {
        margin-left: 40px;
    }
    .swiper {
        width: 95%;
    }
    .image-container {
        transform: translateX(0px);
        border-radius: 16px;
    }
    .swiper-slide img {
        transform: translateX(0px);
    }
}

@media (max-width: 1000px) {
    .header-section {
        padding: 0% 3%;
        justify-content: space-around;
        gap: 0%;
    }
    .header-content {
        padding: 0px 0px;
    }
    .swiper {
        width: 95%;
    }
    .image-container {
        transform: translateX(0px);
        border-radius: 16px;
    }
    .navigation-buttons {
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
    .personal-photo {
        margin-left: 0px;
    }
    .boolean-container {
        padding-top: 120px;
    }
    .swiper-pagination-bullet-active {
        background-color: var(--Verde-claro);
        transform: scaleX(1.5) scaleY(1.5) translateX(2px);
    }
    .swiper-pagination-bullet:hover {
        background-color: none;
        transform: initial;
    }
    .swiper-slide img {
    transform: translateX(0px);
    }
}

@media (max-width: 820px) {
    .swiper {
        width: 95%;
        height: 720px;
        border-radius: 16px;
    }
    .image-container {
        transform: translateX(0px);
    }
    .title {
        transform: translate(-48%, -220%);
    }
    .title span {
        font-size: var(--font-size-L);
    }
    .subtitle {
        transform: translate(-83%, -234%);
    }
    .subtitle span {
        font-size: var(--font-size-XS);
    }
    .blur {
        transform: translateY(445px);
    }
    .swiper-button-container {
        gap: 48px;
        display: none;
    }
    .pagination-container {
        left: 0px;
        justify-content: center;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        justify-content: center;
    }
    .personal-photo {
        width: 48px;
        height: 48px;
        margin-left: 4px;
    }
    .personal-photo img{
        width: 48px;
        height: 48px;
        margin-left: 12px;
    }
    .icon-button {
        width: 40px;
        height: 40px;
    }
    .icon-button img{
        width: 24px;
        height: 24px;
    }
    .Lightbulb img {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 600px) {
    .background {
        padding: 8px;
    }
    .hero {
        background-color: var(--blanco);
    }
    #canvas1 {
        display: none;
    }
    .blur-layer {
        background:var(--blanco);
    }
    .header-section {
        height: 100px;
        gap: 0;
    }
    .navigation-buttons {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 12%;
    }
    .boolean-container {
        padding-top: 100px;
    }
    .image-container {
        transform: translateX(0px);
    }
    .blur {
        transform: translateY(447px);
    }
    .header-content {
        width: 100%;
        padding: 0 16px 0 0;
    }
    .icon-button img{
        width: 20px;
        height: 20px;
    }
    .Lightbulb img {
        width: 48px;
        height: 48px;
    }
    .swiper-slide img {
        transform: translateX(0px);
    }
    .active-gif{
        display: none;
    }
}

@media (max-width: 420px) {
    .blur-layer {
        background:var(--blanco);
    }
    .title {
        transform: translate(-48%, -220%);
    }
    .subtitle {
        transform: translate(-50%, -234%);
    }
    .swiper {
        height: 560px;
    }
    .blur {
        transform: translateY(367px);
    }
}

