/* Reset global */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Publica Sans";
  }
  
body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Verde-claro) !important;
    color: var(--blanco);
    overflow: auto;
    flex-direction: column;
    cursor: none;
    padding: 16px;
}

html, body {
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none; /* IE 10+ */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
display: none; /* Chrome, Safari, etc. */
}

header {
transform: translateY(0%);
}
header.hide {
transform: translateY(-100%);
}


/* HEADER SECTION */
.header-section {
    position: sticky;
    top: -12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 128px;
    gap: 25%;
    z-index: 1000;
    transition: all 0.3s ease-out;
    transform: translateY(3px);
    background-color: var(--blanco);
    border-radius: 0px 0px 16px 16px;
}

/* Cuando se oculta */
.header-section.hide {
transform: translateY(-100%);
border-radius: 0px 0px 16px 16px;
}
.header-section.start {
border-radius: 16px 16px 0px 0px;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--blanco);
    width: 100%;
    transform: translateY(-24px);
}

.hero-content {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 100%;
}

.hero-text {
margin-bottom: 24px;
margin-top: 32px;
}

.tag-btn {
display: inline-block;
padding: 8px 24px;
background-color: var(--Verde-claro);
color: var(--blanco);
font-family: "Publica Sans bold", sans-serif;
font-size: var(--font-size-XS);
border: none;
border-radius: 20px;
cursor: none;
text-transform: none;
transition: background-color 0.3s ease;
transform: translate(0, 10px);
}

.main-title {
font-family: "Thunder", sans-serif;
font-size: var(--font-size-XXL);
font-weight: bold;
color: var(--Verde-claro);
}

.main-subtitle {
font-family: "Publica Sans", sans-serif;
font-size: var(--font-size-S);
color: var(--Verde);
line-height: 1.5;
max-width: 600px;
margin: 0 auto;
font-weight: 300;
background-color: var(--blanco);
transform: translateY(-16px);
}

.hero-image {
position: relative;
width: 100vw;
height: auto;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
max-height: calc((100vw - 32px) * 9 / 16);
}

.hero-image iframe {
width: calc(100vw - 32px);
height: calc((100vw - 32px) * 9 / 16);
min-height: 100vh;
border: none;
}

/* CONTENT SECTION */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--blanco);
  width: 83.3%;
  transform: translateY(-24px);
  margin-top: 32px;
  border-radius: 32px;
}
.proj-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding:32px 24px ;
}
.description-image {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description-image img{
  object-fit: cover;
  width: 100%;
}
.description {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Publica Sans";
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-project {
  max-width: 800px;
  margin: 40px auto;
  padding-right: 8.62%;
}

.description-title {
  color: var(--Verde-claro);
  padding-bottom: 32px;
  font-family: "Publica Sans";
  font-size: var(--font-size-XXL);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-bottom: 1px solid var(--Gris-claro);
}

.description-title span {
  color: var(--Gris);
}

.description-content {
  margin-bottom: 30px;
}

.description-content p {
  color: var(--Gris-oscuro);
  font-family: "Publica Sans";
  font-size: var(--font-size-S);
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
}

.tools {
  border-top: 1px solid var(--Gris-claro);
  padding-top: 20px;
}

.tools h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tools-icons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.tools-icons img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}


  /* Puedes agregar media queries según tus necesidades */
  @media (max-width: 1600px) { }
  @media (max-width: 1440px) { }
  @media (max-width: 1200px) { }
  @media (max-width: 1000px) { }
  @media (max-width: 700px) { }
  @media (max-width: 550px) { }
  @media (max-width: 390px) { }
  